extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Drag to Fab was created to help people find workers to clean and renovet there home.
        | <br /><br />
        | Drag to Fab helps you find people to work . Let Drag to Fab help you find the worker you're looking for.
        | <br /><br />
        | It's a good to transfor your home.
        | <br /><br />
        | Drag to Fab helps you find workers to and about. Perhaps with containers, plants or a paint? Let Drag to Fab help you transform your home you're looking for..