extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          |Home Makeover's 
          small &nbsp;Find  workers to rebulid your home as you like...!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h2
            a(href='/makeovers') Makeovers
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default
          p.address Lata Street 27,Geetanjali chowk,Hyderabad
          p
            span.label.label-warning Bedroom 
            | &nbsp;
            span.label.label-warning Balcony 
            | &nbsp;
            span.label.label-warning Kitchen
            | &nbsp;
            span.label.label-warning Hall
            | &nbsp;
            span.label.label-warning Dining area
            | &nbsp;
        .col-xs-12.list-group-item
          